* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
}

section > div.box {
    width: 700px;
    height: 500px;
    background-color: aquamarine;
    border: 10px solid black;
    box-shadow: 0px 5px 10px black;
    margin-top: 50px;
    text-align: center;
    display: grid;
    place-items: center;
}

section > div.box > form > h1 {
    margin-top: 10px;
    font-size: 35px;
}